<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重置密码</title>
</head>
<body>
    {{ error }}
    <form class="reset_pwd" action="/operation/reset_pwd/" method="post">
        <p>请输入邮箱：</p>
        <input type="email" name="email">
        <p>新密码：</p>
        <input type="password" name="password1">
        <p>确认密码：</p>
        <input type="password" name="password2">
        <input type="submit" value="确认">
    </form>
</body>
</html>